[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bs4 = "*"
numpy = "*"
django-heroku = "*"
python-dotenv = "*"
dj-database-url = "*"

[requires]
python_version = "3.7"
